html, body {
    /* background-color: #244F3Cff; */
    background-color: #000000ff;
    margin: 0;
    padding: 0;  display: flex;

    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
}
